<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
    <title>Some Instructions</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

    <!------ Include the above in your HEAD tag ---------->
    <style>
        /* Split the screen in half */
        body {
            padding-left: 20px;
        }

        body{color:#444;font:100%/1.4 sans-serif;}

     </style>

</head>
<header>
      <!-- Fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"><span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </nav>
</header>
<br>
<br>
<br>
<br>
<body>
<h1>Thank you for registering!</h1>
<br>
<br>


<h2>A few instructions for the test</h2>
<ul style="list-style-type:disc;">
    <li><h6>This task will take approximately 10-15 minutes.</h6></li>
    <li><h6>The test will be repeated 4 times.</h6></li>
</ul>
<br>
<br>
<h2>Now we will be displaying the stimuli to you to get you more accustomed to the task.</h2>
<a type="submit" class="btn btn-success" href="{% url 'show_stimuli_one_by_one' %}">Ready!</a>
</body>
</html>